@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        font-family: 'Lato', sans-serif;
    }
}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
.hide-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}